html {
  font-size: 10vw;
}
h1 {
  margin: 0;
  padding: 0 0 1vw 0;
  text-decoration: none;
  background: linear-gradient(135deg, #00ffd8, #00d8ff);
  -webkit-background-clip: text;
  color: transparent;
  float:left;
  line-height: 0.8;
}


h1 {
  font-size: 6vw;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0 0;
  font-size: 4vw;
  text-align: center;
  color: rgb(192, 255, 255);
}

h3 {
  margin: 1.5vw;
  font-size: 3.6vw;
  text-align: center;
  font-family: 'times', sans-serif;
}

p {
  font-size: 24px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color:azure;
}

h4 {
  font-size: 3.6vw;
  font-family: 'times', sans-serif;
}

video {
            width: 100%;
            height: 100%;
            object-fit: contain; /* 使用 contain 以确保视频完整显示 */
        }


body {
  /*width: 75%;
  margin: 2vw auto;*/
  background: linear-gradient(-45deg, #00e0b0, #00a0f0);
  padding: 2vw 2vw 2vw 2vw;
  /*border: 0.5vw solid #006060;*/
}
