html {
  font-size: 10vw;
  height: 100%;
  
}
h1 {
  margin: 0;
  padding: 0 0 1vw 0;
  text-decoration: none;
  background: linear-gradient(135deg, #00e0a0, #00a0e0);
  -webkit-background-clip: text;
  color: transparent;
  float:left;
  line-height: 0.8;
}


h1 {
  font-size: 6vw;
  text-align: center;
}

h2 {
  margin: 0 0 0 0;
  padding: 0 0;
  font-size: 4vw;
  text-align: center;
  color: #00c0c0;
  
}

h3 {
  margin: 1.5vw;
  font-size: 3.6vw;
  text-align: center;
  font-family: 'times', sans-serif;
}

p {
  font-size: 2.5vw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color:#00c0c0;
}

h4 {
  font-size: 3.6vw;
  font-family: 'times', sans-serif;
}

video {
            width: 100%;
            height: 100%;
            object-fit: contain; /* 使用 contain 以确保视频完整显示 */
        }


body {
  /*width: 75%;
  margin: 2vw auto;*/
  background: linear-gradient(45deg, #ffffe0, #c0ffff);
  padding: 2vw 2vw 2vw 2vw;
  background-attachment: fixed;
  /*border: 0.5vw solid #006060;*/
}
